.header__lang-link_en{
  width: 29px;
  height: 28px;
  margin-left: 18px;
  top: 46px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
}
