.cover__subtitle{
  margin: 16px 16px 33px 16px;
  max-width: 288px;
  font-size: 14px;
  padding: 0;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .cover__subtitle{
    margin-top: 32px;
    margin-left: 204px;
    margin-right: 204px;
    margin-bottom: 115px;
    max-height: 66px;
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}
@media (min-width: 1024px) {
  .cover__subtitle{
    margin-left: 332px;
    margin-right: 332px;
    margin-bottom: 195px;
  }
}

@media (min-width: 1280px) {
  .cover__subtitle{
    margin-left: 412px;
    margin-right: 412px;
    margin-bottom: 245px;
  }
}