.cover__subtitle{
  position: absolute;
  width: 360px;
  height: 66px;
  top: 429px;
  left: 412px;
  bottom: 245px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  color: #FFFFFF;
  z-index: 3;
}