.header{
  position: absolute;
  width: 1184px;
  height: 52px;
  left: 48px;
  right: 48px;
  top: 28px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}