.header__link-ru {
  margin: 0;
  margin-top: 14px;
  margin-right: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: opacity linear 0.3s;
}

@media (min-width: 768px) {
  .header__link-ru {
    margin-top: 18px;
    font-size: 24px;
    line-height: 28px;
  }
}

.header__link-ru:hover {
  opacity: 0.8;
  transition: opacity linear 0.3s;
}
