.footer__copyright{
  height: 16px;
  left: 1046px;
  left: 533px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
  margin: 0;
}
@media screen and (max-width: 320px) {
.footer__copyright{
  height: 14px;
  left: 0;
  top: 48px;
  bottom: 24px;
  }
}