.lead__image{
  bottom: 0px;
  margin-top: 40px;
  overflow: hidden;
  max-height: 615px;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 768px) {
  .lead__image{
    margin-top: 56px;
  }
}

@media (min-width: 1280px) {
  .lead__image{
    margin: 0 auto;
    margin-top: 64px;
    }
}