.lead__image{
  width: 984px;
  height: 615px;
  left: 148px;
  margin-top: 368px;
  bottom: 0px;
}
@media screen and (max-width: 1024px) {
  .lead__image{
    width: 928px;
    height: 580px;
    left: 48px;
}
}
@media screen and (max-width: 768px) {
  .lead__image{
    width: 768px;
    height: 480px;
    left: 0px;
}
}
@media screen and (max-width: 320px) {
  .lead__image{
    width: 320px;
    height: 200px;
    left: -2px;
    margin: 0;
    margin-top: 184px;
}
}