.cover__background{
  width: 320px;
  height: 200px;
  margin-top: 0;
  z-index: 1;

}
@media (min-width: 1024px) {
  .cover__background{
  width: 1024px;
  }
}

@media (min-width: 768px) {
  .cover__background{
  width: 768px;
  }
}

@media (min-width: 1280px) {
  .cover__background{
  width: 1184px;
  height: 740px;
  }
}