.cover__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.06;
    text-align: center;
    color: #FFFFFF;
    margin: 33px 16px 0 16px;
    max-width: 288px;
}

@media (min-width: 768px) {
  .cover__title{
    margin-left: 104px;
    margin-right: 104px;
    margin-top: 115px;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
  }
}

@media (min-width: 1024px) {
  .cover__title{
    margin-top: 195px;
    margin-left: 232px;
    margin-right: 232px;
  }
}
@media (min-width: 1280px) {
  .cover__title{
    margin-top: 245px;
    margin-left: 312px;
    margin-right: 312px;
  }
}
