.cover__title{
  position: absolute;
  width: 560px;
  height: 152px;
  top: 245px;
  left: 312px;
  bottom: 343px;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
  color: #FFFFFF;
  z-index: 3;
}
@media screen and (max-width: 1024px) {
.cover__title{
  left: 232px;
  top: 195px;
  bottom: 293px;
  }
}
@media screen and (max-width: 768px) {
.cover__title{
  left: 104px;
  top: 115px;
  bottom: 213px;
  }
}
@media screen and (max-width: 320px) {
.cover__title{
  left: 16px;
  right: 16px;
  top: 33px;
  height: 70px;
  width: 288px;
  font-size: 32px;
  line-height: 35px;
  padding: 0;
  margin: 0;
  }
}