.footer{
  display: flex;
  flex-direction: column;
  min-width: 220px;
  min-height: 310px;
  margin-top: 64px;
  padding-bottom: 24px;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .footer{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 88px;
    min-height: 18px;
    margin-right: 16px;
    margin-left: 16px;
    min-width: 720px;
    }
}

@media (min-width: 1024px) {
  .footer{
  min-width: 928px;
  height: 18px;
  margin-top: 92px;
  margin-left: 48px;
  margin-right: 48px;
  }
}

