.footer__column-links {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
  }
   
  @media (min-width: 768px) {
    .footer__column-links{
      flex-direction: row;
    }
  }
